@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");
* {
  /* transition: all 1s linear; */
  font-family: "微軟正黑體";
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(#141e30, #243b55);
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#141e30, #243b55);
  display: table;
  text-align: center;
  color: #e2e8e7;
  z-index: 10;
}
.header .ani-title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 72px;
  z-index: 2;
  position: relative;
  color: #E2E8E7;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}

.container.loaded .loading {
  display: none;
}
.container.loaded .header {
  height: 40px;
  background: linear-gradient(#141e30, #243b55);
  box-shadow: 0 0 20px 2px #464646;
}
.container.loaded .header .ani-title {
  font-size: 24px;
}

.box-container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

h1.title {
  font-size: 480px;
  position: absolute;
  font-weight: 100;
  color: rgba(152, 204, 211, 0.15);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
}

.calculate-box {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1.5s;
}
.calculate-box .blocks {
  display: inline-block;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}
.calculate-box .title-zone {
  height: initial;
  width: 100%;
}
.calculate-box .title-zone .sblock {
  display: inline-block;
}
.calculate-box .title-zone .sblock .calcTitle {
  font-size: 24px;
}
.calculate-box .title-zone .blockTitle {
  width: 60%;
}
.calculate-box .title-zone .logoTxt {
  width: 10%;
}
.calculate-box .title-zone .logoTxt label {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}
.calculate-box .type {
  height: initial;
  width: 100%;
}
.calculate-box .type .sblock {
  display: inline-block;
  width: 45%;
}
.calculate-box .type .catype {
  font-size: 24px;
}
.calculate-box .type .catype .calcType {
  cursor: pointer;
}
.calculate-box .type .catype input {
  vertical-align: initial;
  display: inline-block;
  margin-right: 10px;
}
.calculate-box .type .ps-zone {
  display: inline-block;
}
.calculate-box .fee {
  width: 100%;
  height: 80px;
}
.calculate-box .fee .feeblock {
  display: inline-block;
  width: 30%;
  position: relative;
  margin-top: 10px;
}
.calculate-box .fee .feeblock input {
  width: 80%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.5);
}
.calculate-box .fee .feeblock label {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  pointer-events: none;
  letter-spacing: 5px;
  transition: 0.5s;
}
.calculate-box .fee .feeblock span {
  margin-left: 5px;
}
.calculate-box .fee .feeblock input:focus ~ label, .calculate-box .fee .feeblock input:valid ~ label {
  top: -33%;
}
.calculate-box .percent {
  width: 100%;
  height: initial;
  position: relative;
}
.calculate-box .percent .sblock {
  display: inline-block;
}
.calculate-box .percent .percentTitle {
  width: 20%;
  height: 120px;
  vertical-align: top;
}
.calculate-box .percent .percentTitle label {
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 115px;
}
.calculate-box .percent .percentInput {
  width: 75%;
  height: 120px;
}
.calculate-box .percent .percentInput .sblock {
  margin-top: 10px;
  transition: 0.5s;
}
.calculate-box .percent .percentInput .sblock .sblocks {
  font-size: 14px;
  display: inline-block;
}
.calculate-box .percent .percentInput .sblock .sblocks input {
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.5);
  padding: 10px 0;
  text-align: center;
}
.calculate-box .percent .percentInput .sblock .sblocks label {
  margin: 0px 10px;
  font-size: 14px;
}
.calculate-box .btn-zone {
  width: 100%;
  position: relative;
  height: 80px;
  transition: 0.5s;
}
.calculate-box .btn-zone .sblock {
  height: 55px;
  width: 45%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.calculate-box .btn-zone .sblock input {
  position: relative;
  height: 50px;
  width: 35%;
  opacity: 0;
  z-index: 999;
}
.calculate-box .btn-zone .sblock #mainSubmit {
  cursor: pointer;
  transition: 0.5s;
}
.calculate-box .btn-zone .sblock #mainSubmit:hover {
  background: rgba(3, 233, 244, 0.15);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(3, 233, 244, 0.25), 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.calculate-box .btn-zone .sblock #clear, .calculate-box .btn-zone .sblock #submit {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.calculate-box .btn-zone .sblock #clear a, .calculate-box .btn-zone .sblock #submit a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  transition: 0.5s;
  font-size: 18px;
  letter-spacing: 5px;
  text-decoration: none;
  overflow: hidden;
}
.calculate-box .btn-zone .sblock #clear a:hover, .calculate-box .btn-zone .sblock #submit a:hover {
  background: rgba(3, 233, 244, 0.15);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(3, 233, 244, 0.25), 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.calculate-box .btn-zone .sblock #clear a span, .calculate-box .btn-zone .sblock #submit a span {
  position: absolute;
  display: block;
}
.calculate-box .btn-zone .sblock #clear a span:nth-child(1), .calculate-box .btn-zone .sblock #submit a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #03e9f4);
  -webkit-animation: btn-anim1 3.5s linear 3;
          animation: btn-anim1 3.5s linear 3;
}
.calculate-box .btn-zone .sblock #clear a span:nth-child(2), .calculate-box .btn-zone .sblock #submit a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #03e9f4);
  -webkit-animation: btn-anim2 3.5s linear 3;
          animation: btn-anim2 3.5s linear 3;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.calculate-box .btn-zone .sblock #clear a span:nth-child(3), .calculate-box .btn-zone .sblock #submit a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), #03e9f4);
  -webkit-animation: btn-anim3 3.5s linear 3;
          animation: btn-anim3 3.5s linear 3;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.calculate-box .btn-zone .sblock #clear a span:nth-child(4), .calculate-box .btn-zone .sblock #submit a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0), #03e9f4);
  -webkit-animation: btn-anim4 3.5s linear 3;
          animation: btn-anim4 3.5s linear 3;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.calculate-box .result {
  width: 100%;
  position: relative;
  height: 120px;
  display: none;
}
.calculate-box .result .sblock {
  height: 50px;
  width: 42%;
  display: inline-block;
  vertical-align: top;
}
.calculate-box .result .sblock .sblocks {
  display: inline-block;
  width: 45%;
}
.calculate-box .result .left {
  height: 100px;
}
.calculate-box .result .left .result-title, .calculate-box .result .left .arrow {
  font-size: 40px;
  display: inline-block;
  line-height: 95px;
  margin-left: 10px;
}
.calculate-box .result .right {
  height: 75px;
}
.calculate-box .result .right .rightFirst {
  font-size: 20px;
}
.calculate-box .result .right .rightSec {
  height: 70px;
  vertical-align: top;
}
.calculate-box .result .right .rightSec span {
  line-height: 65px;
  margin-left: 30px;
  font-size: 45px;
}
.calculate-box .result .right .result-ps {
  margin-top: 7px;
  width: 100%;
  margin-left: 45px;
}
.calculate-box .result .bottomTitle {
  margin-top: 15px;
  width: 100%;
  height: 70px;
  line-height: 75px;
  font-size: 30px;
  letter-spacing: 5px;
}
.calculate-box .result .bottom {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
}
.calculate-box .result .bottom table {
  font-size: 20px;
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.calculate-box .result .bottom table thead tr th {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #243b55;
}
.calculate-box .result .bottom table tbody tr td {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  background-color: #333;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
@media screen and (max-width: 800px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  #bgTitle {
    display: none;
  }
  .calculate-box {
    top: 35%;
    width: 100%;
  }
  .calculate-box .type .sblock {
    width: 43%;
  }

  .blocks.fee .feeblock label {
    left: 44%;
  }

  .blocks.percent .percentTitle {
    height: initial;
    width: 100%;
  }
  .blocks.percent .percentTitle label {
    line-height: 50px;
  }
  .blocks.percent .percentInput {
    width: 100%;
  }

  .result .right .result-ps {
    font-size: 14px;
  }
  span#resultPercent {
    margin-left: 5px;
  }
}
@media screen and (max-width: 675px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .calculate-box {
    width: 100%;
    top: 60%;
  }
  .calculate-box .title-zone .blockTitle {
    width: 100%;
  }
  .calculate-box .type .sblock {
    margin: 0px 5px;
  }
  .calculate-box .type .ps-zone {
    display: none;
  }
  .calculate-box .fee {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .fee .feeblock {
    width: 95%;
  }
  .calculate-box .fee .feeblock input#loanAmount {
    margin-left: 10px;
  }
  .calculate-box .fee .feeblock input:focus ~ label, .calculate-box .fee .feeblock input:valid ~ label {
    display: none;
  }
  .calculate-box .percent .percentInput {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .percent .percentInput .sblocks input {
    margin-top: 10px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPeriodTwo, .calculate-box .percent .percentInput .sblocks input#secPeriodTwo {
    margin-left: -6px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPercent, .calculate-box .percent .percentInput .sblocks input#secPercent {
    margin-left: 42px;
  }
  .calculate-box .btn-zone .sblock {
    margin: 0px 5px;
  }
  .calculate-box .btn-zone .sblock #clear, .calculate-box .btn-zone .sblock #submit {
    width: 100%;
  }
  .calculate-box .btn-zone .sblock #clear a, .calculate-box .btn-zone .sblock #submit a {
    padding: 5px 5px;
  }
  .calculate-box .result {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .result .sblock {
    width: 100%;
  }
  .calculate-box .result .left {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 5px;
  }
  .calculate-box .result .left .result-title, .calculate-box .result .left .arrow {
    line-height: 15px;
    font-size: 30px;
  }
  .calculate-box .result .right .rightFirst {
    width: 100%;
  }
  .calculate-box .result .right .rightSec span {
    font-size: 40px;
  }
  .calculate-box .result .right .result-ps {
    margin-left: 0px;
  }
  .calculate-box .result .bottomTitle {
    margin-top: 75px;
  }
  .calculate-box .result .bottom table thead tr th {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .calculate-box {
    width: 100%;
    top: 460px;
  }
  .calculate-box .title-zone .blockTitle {
    width: 100%;
  }
  .calculate-box .type .sblock {
    margin: 0px 5px;
  }
  .calculate-box .type .ps-zone {
    display: none;
  }
  .calculate-box .fee {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .fee .feeblock {
    width: 95%;
  }
  .calculate-box .fee .feeblock input#loanAmount {
    margin-left: 10px;
  }
  .calculate-box .fee .feeblock input:focus ~ label, .calculate-box .fee .feeblock input:valid ~ label {
    display: none;
  }
  .calculate-box .percent .percentInput {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .percent .percentInput .sblocks input {
    margin-top: 10px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPeriodTwo, .calculate-box .percent .percentInput .sblocks input#secPeriodTwo {
    margin-left: -6px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPercent, .calculate-box .percent .percentInput .sblocks input#secPercent {
    margin-left: 42px;
  }
  .calculate-box .btn-zone .sblock {
    margin: 0px 5px;
  }
  .calculate-box .btn-zone .sblock #clear, .calculate-box .btn-zone .sblock #submit {
    width: 100%;
  }
  .calculate-box .btn-zone .sblock #clear a, .calculate-box .btn-zone .sblock #submit a {
    padding: 5px 5px;
  }
  .calculate-box .result .right .rightSec span {
    font-size: 35px;
  }
  .calculate-box .result .right .result-ps {
    margin-left: 0px;
  }
  .calculate-box .result .bottom table {
    font-size: 16px;
  }
  .calculate-box .result .bottom table thead tr th {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .calculate-box {
    width: 100%;
    top: 75%;
  }
  .calculate-box .title-zone .blockTitle {
    width: 100%;
  }
  .calculate-box .type .sblock {
    margin: 0px 5px;
  }
  .calculate-box .type .ps-zone {
    display: none;
  }
  .calculate-box .fee {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .fee .feeblock {
    width: 95%;
  }
  .calculate-box .fee .feeblock input:focus ~ label, .calculate-box .fee .feeblock input:valid ~ label {
    display: none;
  }
  .calculate-box .percent .percentInput {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .calculate-box .percent .percentInput .sblocks input {
    margin-top: 10px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPeriodTwo, .calculate-box .percent .percentInput .sblocks input#secPeriodTwo {
    margin-left: -6px;
  }
  .calculate-box .percent .percentInput .sblocks input#firstPercent, .calculate-box .percent .percentInput .sblocks input#secPercent {
    margin-left: 42px;
  }
  .calculate-box .btn-zone .sblock {
    margin: 0px 5px;
  }
  .calculate-box .btn-zone .sblock #clear, .calculate-box .btn-zone .sblock #submit {
    width: 100%;
  }
  .calculate-box .btn-zone .sblock #clear a, .calculate-box .btn-zone .sblock #submit a {
    padding: 5px 5px;
  }
  .calculate-box .result .right .rightSec span {
    font-size: 34px;
  }
  .calculate-box .result .right .result-ps {
    margin-left: 0px;
    font-size: 13px;
  }
  .calculate-box .result .bottom table thead tr th {
    font-size: 12px;
  }
  .calculate-box .result .bottom table tbody {
    font-size: 14px;
  }
  span#resultPercent {
    margin: 12px;
  }
}
.loading {
  position: absolute;
  top: calc(50% - 128px);
  left: calc(50% - 128px);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  perspective: 800px;
}
.loading .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loading .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}
.loading .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}
.loading .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@-webkit-keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}